@media(max-width:576px){
	.aboutBoxCol {
		padding-left: 30px !important;
		padding-right: 30px !important;
	}

	.aboutSkills {
		height: auto !important;
	}
}

@media(max-width:1200px) {
	.aboutImg > img {
		width: 1200px !important;
		float: right;
	}

	.row.vertical-align {
		display: block;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.leftBox {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.rightBox {
		padding-right: 0px !important;
		padding-left: 0px !important;
	}

	.aboutSkills {
		height: auto !important;
	}

}

@media(min-height: 1000px) {
	.aboutText {
		font-size: 20px !important;
	}

	.aboutMainName {
		font-size: 40px !important;
	}

	.aboutBold {
		font-size: 20px !important;
	}

	.aboutSubName {
		font-size: 25px !important;
	}

	.aboutSkills {
		height: 725px !important;
	}


}

@media(min-height: 1200px) {
/*	.aboutBoxCol {
		padding-bottom: 50px !important;
		padding-top: 50px !important;
	}
*/
	.aboutImg {
		height: 40vh !important;
	}
}

.aboutImg {
	position: relative;
	padding: 0;
	overflow: hidden;
	height: 33vh;
}

.aboutImg > img {
	width: 100%;
	margin-top: -25px;
	min-height: 100%;
	
}

.containerName {
	padding-left: 0;
	padding-right: 0;
}

.containerDesc {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.aboutPage {
	height: 66vh;
	background-color: #333;
	overflow-y: scroll;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	padding-bottom: 0;
}

.aboutPage ul {
	list-style-type: none;
	padding-left: 0px;
}

.aboutBox {
	background-color: #242424;
	border: 0.1px solid rgba(17, 17, 17, 0.7);
	/*margin-top: 20px;*/
	margin-bot: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 30px;
	border-radius: 3px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.aboutBoxCol {
	background-color: #242424;
	border: 0.1px solid rgba(17, 17, 17, 0.7);
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 70px;
	padding-right: 70px;
	border-radius: 3px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	height: 100%;
}

.doubleBoxCol {
	margin-right: auto;
	margin-left: auto;
}

.leftBox {
	padding-left: 0px;
	padding-right: 10px;
}

.rightBox {
	padding-right: 0px;
	padding-left: 10px;
}

.aboutBoxTitle {
	margin-bottom: 15px;
	font-size: 19px ;
}

.columns {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}


.aboutText{
	color: #888;
	font-weight: 200;
	letter-spacing: 0.1px;
	font-size: 13px;
}

.aboutTextTitle {
	line-height: 17px;
}


.aboutName {
	padding-left: 60px;
	border-radius: 0;
}

.aboutSkills {
	height: 560px;
}

.aboutMainName {
	font-size: 35px;
	color: white;
}


.aboutSubName {
	color: #888;
	font-weight: 200;
	letter-spacing: 0.1px;
	font-size: 16px;
}

.skillMeter {
	border: 1px solid #888;
	border-radius: 4px;
	margin: 4px 0px;
}

.aboutSkills > table {
	width: 100%;
}

.skill {
	padding-left: 0px;
}

.bar {
	background-color: #888;
}
