@media(max-width:576px){
	h2 {
		font-size: 18px !important;
	}

	.tab {
		display: static !important;
	}

}

@media(max-width:768px){
	h2 {
		font-size: 19px !important;
	}

	.tab {
		display: none !important;
	}

	.navMenu {
		display: inline-block !important;
		float: none !important;
	}

	.navPop {
		display: block !important;
	}

	.lgSub {
		display: none !important;
	}


}

@media(max-width:992px){
}

@media(max-width:1200px){
	.socialMedia {
		display: none !important;
	}
}

@media(min-height:1200px) {
	header {
		padding-bottom: 15px;
	}

}

.title {
	text-align: left;
}

.tab {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	width: 19%;
}

.tab:hover, .fa:hover, .home:hover{
	color: #555;
}

a {
	color: #333;
}

a .sub {
	color: #ddd
}


a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: inherit;
}


.sub:hover {
	color: #aaa;
}

header .col {
	display: inline-block;
	vertical-align: middle;
	float: none;
	text-align: center;
}

header {
	position: fixed;
	background-color: #caccd1;
	bottom: 0;
	z-index:100;
	padding-bottom:5px;
	min-height: 6vh;
	display: flex;
}

header h6 {
	font-size: 11px;
}

header .fa {
	margin-top: 5px;
	font-size: 16px;
}

.socialMedia {
		display: inline-block;
}

.navMenu {
	display: none;
}

.navPop ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 25px !important;
	font-weight: 200;
}

.navPop .topNav {
	position: absolute;
	top: 10px;
}

.navPop li {
	margin: 20px;
	text-align: left;
}

.navPop .topNav object{
	height: 200px;
	fill: #ddd;
	display: block;
	margin: auto;
}

.navPop {
	background-color: #444;
	height: 100%;
	width: 175px;
	position: fixed;
	z-index: 99;
	right: -175px;
	display: none;
}

.navPop h6 {
	font-weight: 400;
}

.navMenuPopped {
	color: #eee;
	background-color: #666 !important;
}

.navMenuPopped:hover {
	color: #bbb;
}

.socialPop i:hover {
	color: #bbb;
}

.navBackground {
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0;
	position: absolute;
	z-index: 98;
	display: none;
}

.fa-bars {
	border-radius: 3px;
	padding: 5px;
	background-color: #caccd1;
}

.socialPop {
	margin-left: 6px;
	margin-right: 20px;

}

.socialPop i{
	color: #eee !important;
	font-size: 17px;
	text-align: center;
}

.divider {
	padding-left: 20px;
	padding-right: 25px;
}

.dividerPop {
	border-color: #eee;
	background-color: #eee;
	width: 100%;
}

.navBot {
	position: absolute;
	bottom: 0px;
	padding-bottom: 35px;
}

.navRow {
	width: 100%;
	margin: auto !important;
}

.lgSub {
		display: block;
		margin-bottom: 0px;
		top: 3px;
	}
