.Home2 {
	background-color: #111;
	height: 94vh;
}

.HomeTitle {
	position: absolute;
	color: #ddd;
	text-align: center;
	top: 60vh;
	width: 100%;
	font-size: 45px;
}

.logoHome {
	height: 60vh;
	width: 100%;
	padding-top: 10vh;
	fill: #ddd;
}
