@media(max-width:576px){

}

@media(max-width:768px){

}

@media(max-width:1025px){
	.HomeImage img {
		width: auto !important;
	}
}

@media(min-height:1200px) {
	.HomeTitle {
		font-size: 55px;
		margin-bottom: 15px;
	}

	.HomeBlurb {
		font-size: 22px;
	}

}

.Home2 {
	background-color: #111;
	height: 94vh;
}

.HomeWords {
	position: absolute;
	color: #ddd;
	text-align: center;
	top: 60vh;
	width: 100%;
}

.HomeTitle {
	font-size: 45px;
	margin-bottom: 10px;
}

.HomeBlurb {
	color: #777;
	z-index: 1;
	position: absolute;
	width: 100%;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

.logoHome {
	position: absolute;
	height: 60vh;
	width: 100%;
	padding-top: 10vh;
	fill: #ddd;
	border-width: 0 !important;
	z-index: 2;
}

.HomeImage img{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%,-50%,0);
  -ms-transform: translate3d(-50%,-50%,0);
}

.HomeImage {
	position: absolute;
	height: 93vh;
	width: 100%;
	z-index: 0;
}

.HomeImageOpacity {
	background-color: #111;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	opacity: 0.75;
}

img.logoHome {
	display: none;
}

.roles {
	position: absolute;
	text-align: center;
	top: 75vh;
	width: 100%;
	color: #777;
	font-size: 16px;
}

.role {
}
