.logs {
	overflow: hidden;
}

.logTable {
	margin-top: 20px;
	width: 100%;
	border-collapse: separate;
	border-spacing: 9px 0px;
}

.logDate {
	text-align: right;
}

.logTable th {
	padding-bottom: 10px;
}

.logTable td {
	vertical-align: top;
}