.NotFoundBox {
	border: 5px solid #333;
	text-align: center;
	padding: 20px;
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #aaa;
}

.NotFoundBox h1 {
	margin-bottom: 20px;
}

.NotFoundPage {
	height: 100%;
	width: 100%;
	background-color: #222;
}
