@media(max-width:576px) {
	.projectImage img {
		max-width: 100%;
	}

	.arrow {
		background-color: rgba(17, 17, 17, 0.6) !important;
	}
}

.description {

}

.projectImage {
	height: 57%;
	background-color: #181818;
	overflow: hidden;
	position: relative;
	box-shadow: 0 6px 17px rgba(0, 0, 0, 0.3);
}

.projectImage > .col {
	height: 100%;
  float: none;
  margin: 0 auto;
  border-radius: 10px;
}

.projectImageWrapper {
	height: 100%;
}


.projectImage img {
	border-radius: 4px;
	max-height: 90%;
	max-width: 100%;
	position: absolute;
	display: none;
	top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%,-50%,0);
  -ms-transform: translate3d(-50%,-50%,0);
  -webkit-box-shadow: 3px 3px 15px 0px #111;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 15px 0px #111;  /* Firefox  */
  box-shadow:         3px 3px 15px 0px #111;
}

.close {
	position: absolute;
	top: 20px;
	opacity: 1;
}

.info {
	position: absolute;
	top: 20px;
}

.arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(17, 17, 17, 1);
	padding: 8px 5px;
	border-radius: 3px;
}

.left-button {
	left: 35px;
}

.right-button {
	right: 35px;
}

.arrowIcon {
	opacity: 0.6;
	color: #ccc;
	transition: all 200ms ease-out;
}

.arrowIcon:hover {
	color: #eee;
	opacity: 1;
}

.arrowIcon:hover .prev {
	background-color: #000;
}

.arrowIcon:hover .next {
	background-color: #000;
}

.infoIcon{
	opacity: 0.6;
	color: #ccc;
	transition: all 200ms ease-out;
}

.infoIcon:hover{
	opacity: 1.0;
	color: #eee;
	cursor: pointer;
}

.close:hover {
	opacity: 1;
	cursor: default;
}

.closeIcon {
	color: #bbb;
	font-size: 40px;
	opacity: 0.4;
	transition: all 200ms ease-out;
}

.closeIcon:hover {
	color: #eee;
	opacity: 1;
}

.fadeImage-enter {
	opacity: 0;
}

.fadeImage-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-out;
}

.fadeImage-leave {
	opacity: 1;
}

.fadeImage-leave-active {
	opacity: 0;
	transition: opacity 300ms ease-out;
}

.fa-times-thin:before {
  content: '\00d7';
}

.imageLoader {
	position: absolute;
	top: 50%;
  left: 50%;
	color: #eee;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%,-50%,0);
  -ms-transform: translate3d(-50%,-50%,0);
}
