.descriptionBox {
	background-color: rgba(10,10,10,0.9);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	color: #999;
	overflow: scroll;
}

.descriptionBoxInner {
	float: none;
	top: 25%;
}

.ProjectTitle {
	color: #bbb;
	font-size: 30px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.ProjectBlurb {
	color: #666;
	margin-bottom: 3px;
}

.ProjectTool {
	color: #666;
	margin-bottom: 3px;

}

.ProjectDescription {

}
