.Subject {
	background-color: #333;
	overflow-y:scroll;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	height: 100vh;
	padding-bottom: 110px;
	padding-right: 30px;
	padding-left: 30px;
}

hr {
	margin-top: 5px;
	margin-bottom: 15px;
	border-color: #888;
	background-color: #888;
	opacity: 0.5;
}

.subjectName {
	color: #ddd;
	font-size: 21px;
	text-align: center;
/*	margin-top: 20px;*/
	margin-bottom: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #242424;
	margin-right: -30px !important;
	margin-left: -30px !important;
	letter-spacing: 0.6px;
}

.projectName {
	color: #aaa;
	font-size: 17px;
	font-weight: 500;
	margin-top: 20px;
}

.SubjectImage {
	padding-right: 0px;
	padding-left: 0px;
}

.imagePopped {
	height: 37vh;
	padding-bottom: 50px;
}

.imageContainer {
	padding-left: 0px;
	padding-right: 0px;
}

.fade-enter {
	opacity: 0;
	height: 0vh;
}

.fade-enter-active {
	opacity: 1;
	height: 57vh;
	transition: all 500ms ease-out;
}

.fade-leave {
	opacity: 1;
	height: 57vh;
}

.fade-leave-active {
	opacity: 0;
	height: 0vh;
	transition: all 500ms ease-out;

}