.Subject {
	height: 100%;
	background-color: #333;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;

	padding-right: 0px !important;
	padding-left: 0px !important;
}

.projects {
	overflow-y:scroll;
	height: 100%;
}

.bottom-padding {
	height: 40px;
}

hr {
	margin-top: 5px;
	margin-bottom: 15px;
	border-color: #888;
	background-color: #888;
	opacity: 0.5;
	border-style: inset;
	border-width: 1px;
}

.subjectName {
	color: #aaa;
	text-align: center;
	// font-size: 45px;
	text-transform: uppercase;
/*	margin-top: 20px;*/
	margin-bottom: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #242424;
	// letter-spacing: 0.2px;
	// height: 145px;
}

.projectName {
	color: #aaa;
	font-size: 17px;
	font-weight: 500;
	margin-top: 20px;
}

.SubjectImage {
	padding-right: 0px;
	padding-left: 0px;
}

.projectButtons {
	padding-right: 30px;
	padding-left: 30px;
}

.imageContainer {
	padding-left: 0px;
	padding-right: 0px;
}

.subjectContainer {
	position: relative;
	transition: all 100ms ease-out;
	-webkit-box-shadow: 0px 0vh 0vh 0vh rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 0vh 0vh 0vh rgba(0,0,0,0.7);
	box-shadow: 0px 0vh 0vh 0vh rgba(0,0,0,0.7);
}

.subjectContainer:hover {
	z-index: 1;
	-webkit-box-shadow: 0px 1vh 15vh 5vh rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 1vh 15vh 5vh rgba(0,0,0,0.7);
	box-shadow: 0px 1vh 15vh 5vh rgba(0,0,0,0.7);
}

.fade-enter {
	opacity: 0;
	height: 0%;
}

.fade-enter-active {
	opacity: 1;
	height: 57%;
	transition: all 500ms ease-out;
}

.fade-leave {
	opacity: 1;
	height: 57%;
}

.subjectIcon {
	height: 35px;
	width: 35px;
	position: relative;
	left: 50%;
	-webkit-transform: translate3d(-50%, 12%, 0);
	-ms-transform: translate3d(-50%, 12%, 0);
	transform: translate3d(-50%, 12%, 0);
}

.subjectIcon path {
	stroke: white;
	stroke-width: 10px;
}

.subjectIconWrapper {
	display: inline-block;
	fill: white;
	border-radius: 35px;
	padding: 0px 4px;
	margin-right: 5px;
	vertical-align: middle;
}

.fade-leave-active {
	opacity: 0;
	height: 0vh;
	transition: all 500ms ease-out;

}

img.subjectIcon {
	display: none;
}


.subjectNameLabel {
	display: inline-block;
	vertical-align: middle;
	// position: absolute;
	// bottom: -23px;
}
