.videoProject {
	width: auto;
	height: 90%;
	border-radius: 5px;
	top: 50%;
	transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.videoSelect {
	height: 100%;
}

.vjs-tech {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.vjs-big-play-button {
	width:75px !important;
	top: 50% !important;
  left: 50% !important;
  border: none !important;
  color: white !important;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%,-50%,0);
  -ms-transform: translate3d(-50%,-50%,0);
  border-radius: 5px !important;
}

.vjs-default-skin:hover .vjs-big-play-button,
.vjs-default-skin .vjs-big-play-button:focus {
	background-color: #505050 !important;
  background-color: rgba(249, 39, 85, 1) !important;
  border-radius: 5px;
}

.vjs-control-bar {
	background-color: rgba(7, 20, 30, 0.7) !important;
}

.video-js:focus, .vjs-poster:focus {
	outline: none !important;
}
