$fa-font-path: "/bower_components/font-awesome/fonts";
@import "/bower_components/font-awesome/scss/font-awesome";

html, body {
	background-color: black;
}

.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
  margin-bottom: auto;
  height: 100%;
}

.container {
	width: 100%;
}

.align-center {
	max-width: 1500px;
	margin: 0 auto;
}

