$fa-font-path: "/bower_components/font-awesome/fonts";
@import "/bower_components/font-awesome/scss/font-awesome";


@font-face {
	font-family: Aqua;
	src: url(/app/fonts/aqua.ttf);
}

html, body {
	background-color: black;
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
  margin-bottom: auto;
  height: 100%;
}

.container {
	width: 100%;
}

.align-center {
	max-width: 1500px;
	margin: 0 auto;
}

.align-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.relative {
	position: relative;
}


.activeBtn {
	padding: 5px 10px;
	border: 1px solid;
	border-radius: 5px;
	background-color: rgba(23,23,23,0);
	-webkit-transition: background-color 200ms;
	transition: background-color 200ms;
}

.activeBtn:hover {
	background-color: rgba(23,23,23,1);
	cursor: pointer;
}
